.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:#000000;
    
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: green;
    padding: 200px;
    margin: 10px;
    width:310px;
    font-family: fantasy;
    
}
p,h3{
    text-align: center;
}
.bodyimg{
    background-image: url("main2.jpg");
    height: 350px;
  }
  .bodyimg h3{
    padding-top: 30px;
    font-size: 33px;
  
  }
  .bodyimg p{
    text-align: justify ;
    width: 80%;
    margin: 30px auto;
    font-size: 22px;
  }  